<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome to App!</title>
        <style>
            body {
                width: 35em;
                margin: 0 auto;
                font-family: Tahoma, Verdana, Arial, sans-serif;
                background: #151515;
                color: #eaeaea;
            }
        </style>
    </head>
    <body>
        <h1>It works!</h1>
        <h2>Welcome to App</h2>
        <p>This is the default page.</p>
        <p>And it was viewed {{ counter }} times!</p>
        <hr />
        <p>Served from {{ hostname }}.</p>
    </body>
</html>
